@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


@import "fonts";
@import "reset";
@import "vars";
@import "global";







// Section
@import "section/header";
@import "section/intro";
@import "section/subintro";
@import "section/registration";
@import "section/footer";




// Blocks
@import "blocks/logo";
@import "blocks/burger";
@import "blocks/nav";
@import "blocks/tel";
@import "blocks/btn";
@import "blocks/address";
@import "blocks/scroll";
@import "blocks/topscroll";
@import "blocks/section";
@import "blocks/six-block";
@import "blocks/form";
@import "blocks/ajax-loader";
@import "blocks/copyright";
@import "blocks/privacy-policy";




// Helpers
@import "blocks/helpers";