.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: 1000;

	background-color: transparent;

	transition: background-color .5s ease;


	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;

		background-color: #fff;

		animation: header-fixed .5s ease;


		// Other
		.logo__img--white{
			display: none;
		}
		.logo__img--black{
			display: block;
		}
		.burger__item{
			background-color: #000;
		}
		.burger__item:after{
			background-color: #000;
		}
		.burger__item:before{
			background-color: #000;
		}
		.tel--white{
			display: none;
		}
		.tel--black{
			display: block;

			@media ($xxxl) {
				display: none;
			}
		}
		.header__inner{
			padding-top: 10px;
		}
		.header__up{
			margin-bottom: 10px;
		}
		.nav{
			top: 43px;

		}
		.nav__link{
			@media ($xxxl) {
				color: #000;
			}

		}
		.btn-discount--1{
			display: none;
		}
		.btn-discount--2{
			display: none;
		}
		.address{
			display: none;
		}

	}
	&__inner{
		padding-top: 15px;


		background-color: transparent;

		@media ($sm) {
			padding-top: 30px;
		}
		@media ($xxxxl) {
			padding-top: 65px;
		}
	}
	&__up{
		position: relative;

		margin-bottom: 25px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__right{
		display: flex;
		align-items: center;
	}
	&__down{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

@keyframes header-fixed{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

main {
	height: 4000px;
}