.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: 1000;

	&__inner{
		padding-top: 15px;


		background-color: transparent;

		@media ($sm) {
			padding-top: 30px;
		}
		@media ($xxxxl) {
			padding-top: 65px;
		}
	}
	&__up{
		margin-bottom: 25px;

		display: flex;
		justify-content: space-between;
	}
	&__right{
		display: flex;
		align-items: center;
	}
	&__down{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}