@charset "UTF-8";

/*reset Ñss*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

input,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  -webkit-animation: header-not-fixed .5s ease;
          animation: header-not-fixed .5s ease;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  -webkit-animation: header-fixed .5s ease;
          animation: header-fixed .5s ease;
}

.header__inner {
  padding-top: 15px;
  background-color: transparent;
}

.header__up {
  position: relative;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@-webkit-keyframes header-fixed {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes header-fixed {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes header-not-fixed {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes header-not-fixed {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: transparent;
  }
}

main {
  height: 2000px;
}

.intro {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.intro:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro > .container {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.intro__title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
}

.intro__title--ttu {
  text-transform: uppercase;
}

.intro__p {
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  display: inline-block;
  background-color: #f00;
}

.intro__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
}

.footer {
  background-color: #5A5A5A;
}

.logo__img--white {
  display: block;
  max-width: 100%;
  width: 130px;
}

.logo__img--white.hidden {
  display: none;
}

.logo__img--black {
  display: none;
}

.logo__img--black.active {
  display: block;
  width: 130px;
}

.burger {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-family: inherit;
  font-size: 0;
  color: transparent;
  width: 28px;
  height: 22px;
  border: 0;
  background: none;
  outline: none;
}

.burger.active .burger__item {
  background-color: transparent;
}

.burger.active .burger__item:after {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
      -ms-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.burger.active .burger__item:before {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
      -ms-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.burger__item {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}

.burger__item:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 9px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.burger__item:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 9px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.burger__item.black {
  background-color: #000;
}

.nav {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  -webkit-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease;
  overflow: hidden;
}

.nav.active {
  display: block;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__li--por {
  position: relative;
}

.nav__ul-in {
  display: none;
}

.nav__ul-in.active {
  display: block;
}

.nav__link,
.nav__link-in {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.nav__link.active {
  color: #ff1e48;
}

.nav__link--hover-underline:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 10px;
  background-color: #ff1e48;
  height: 5px;
  border-radius: 3px;
  width: 0;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

.nav__link--hover-underline:hover {
  color: #414141;
}

.nav__link--hover-underline:hover:before {
  width: calc(100% - 20px);
}

.nav__link-in {
  padding-left: 30px;
  font-size: 14px;
}

.nav__link-in:hover {
  color: #ff1e48;
}

.tel--white {
  margin-bottom: 10px;
}

.tel--white.hidden {
  display: none;
}

.tel__link--white {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.tel__link--white:after {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  width: 22px;
  height: 22px;
  background: url("../img/tel/tel.svg") center/contain no-repeat;
}

.tel__link--white:hover {
  color: #414141;
}

.tel--black {
  display: none;
}

.tel--black.active {
  display: block;
}

.tel__link--black {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 1;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-family: inherit;
  background: none;
  border: 0;
}

.btn-discount {
  display: none;
  margin-right: 15px;
  padding: .6em 1em;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  line-height: calc(15/10);
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: .4em;
  background-color: #ff1e48;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.btn-discount:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.btn-discount:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-discount--2 {
  margin: 0 0 10px 0;
}

.address {
  display: none;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.address:after {
  content: "";
  position: absolute;
  top: 2px;
  left: -37px;
  width: 17px;
  height: 17px;
  background: url("../img/address/point.svg") center/contain no-repeat;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.imgr {
  display: block;
  max-width: 100%;
  height: auto;
}

.mb0 {
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

@media (min-width: 475px) {
  .btn-discount--1 {
    display: block;
  }
}

@media (min-width: 575px) {
  .header__inner {
    padding-top: 30px;
  }

  .logo__img--white {
    width: 200px;
  }

  .nav {
    top: 60px;
    width: 320px;
  }

  .tel__link--white:after {
    top: 7px;
  }

  .tel__link--white {
    font-size: 24px;
  }

  .btn-discount--1 {
    display: none;
  }

  .btn-discount--2 {
    display: block;
    padding: .6em 2.5em;
    font-size: 11px;
  }

  .address {
    display: block;
  }
}

@media (min-width: 767px) {
  .btn-discount--2 {
    font-size: 12px;
  }

  .address {
    font-size: 14px;
  }

  .helper-media-tac-md {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .helper-media-tac-lg {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .burger {
    display: none;
  }

  .nav {
    display: block;
    position: static;
    width: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: visible;
  }

  .nav__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .nav__li--por:hover .nav__ul-in {
    display: block;
    position: absolute;
    top: 99%;
    left: 50%;
    right: 0;
    z-index: 1;
    width: 320px;
    border-radius: 4px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: #fff;
  }

  .nav__li--por:hover .nav__link--show-ul {
    color: #ff1e48;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
  }

  .nav__link {
    color: #fff;
  }
}

@media (min-width: 1300px) {
  .header__inner {
    padding-top: 65px;
  }

  .logo__img--white {
    width: 250px;
  }
}