.btn{
	display: inline-block;
	vertical-align: top;
	padding: 0;

	font-family: inherit;
	background: none;
	border: 0;

	&-discount{
		display: none;

		margin-right: 15px;
		padding: .6em 1em;

		font-size: 10px;
		font-weight: 700;
		color: #fff;
		line-height: calc(15/10);
		text-transform: uppercase;
		white-space: nowrap;

		border-radius: .4em;

		background-color: #ff1e48;

		transition: box-shadow .5s ease;

		&:hover{
			box-shadow: 0 0 20px rgba(0,0,0,.4);
		}
		&:focus{
			outline: 0;
			box-shadow: 0 0 0.2rem rgba(0,123,255,.25);
		}
		&--1{
			@media ($usm) {
				display: block;
			}
			@media ($sm) {
				display: none;
			}
		}
		&--2{
			margin: 0 0 10px 0;

			@media ($sm) {
				display: block;

				padding: .6em 2.5em;

				font-size: 11px;
			}
			@media ($md) {
				font-size: 12px;

			}
			@media ($xxxl) {
				font-size: 14px;
			}
		}
	}
	&-more{
		padding: .43em .7em;

		font-size: 14px;
		font-weight: 600;
		color: #fff;
		line-height: 1.5;
		text-transform: uppercase;

		border-radius: .3em;

		background-color: rgba(255,255,255,.35);

		transition: background-color .5s ease;

		@media ($sm) {
			padding: .43em 2.14em;
		}
		&:hover{
			background-color: #ff1e48;
		}
		&:focus{
			outline: 0;
			box-shadow: 0 0 0.2rem rgba(0,123,255,.25);
		}
	}
	&-send{
		padding: 0.75em 1.25em;
		width: 100%;

		font-size: 16px;
		font-weight: 400;
		color: #fff;
		line-height: 1.25;

		border-radius: 0.3em;

		background-color: #f00;

		transition: background-color .5s ease;


		@media ($sm) {
			max-width: 260px;

		}
		&:hover{
			background-color: #ff1e48;
		}
		&:focus{
			outline: 0;
			box-shadow: inset 0 0 8px rgba(0,0,0,0.08);
		}
	}
}