.logo{
	&__img--white{
		display: block;
		max-width: 100%;

		width: 130px;

		@media ($sm) {
			width: 200px;
		}
		@media ($xxxxl) {
			width: 250px;
		}
	}
	&__img--black{
		display: none;

		width: 130px;

		@media ($sm) {
			width: 200px;

		}
	}
	&__img--footer{
		margin: 0 auto 10px;
	}
}