.logo{
	&__img--white{
		display: block;
		max-width: 100%;

		width: 130px;

		@media ($sm) {
			width: 200px;
		}
		@media ($xxxxl) {
			width: 250px;
		}
		&.hidden{
			display: none;
		}
	}
	&__img--black{
		display: none;

		&.active{
			display: block;

			width: 130px;
		}
	}
}