.nav{
	display: none;

	position: absolute;
	top: 45px;
	right: 0;
	z-index: 10;
	width: 100%;

	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0,0,0,.1);

	transition: height .3s ease;
	overflow: hidden;


	@media ($sm) {
		top: 60px;
		width: 320px;
	}

	@media ($xxxl) {
		display: block;

		position: static;
		width: auto;

		background-color: transparent;
		box-shadow: none;

		overflow: visible;
	}

	&.active{
		display: block;
	}
	&__ul{
		display: flex;

		flex-direction: column;

		@media ($xxxl) {
			flex-direction: row;
		}
	}
	&__li--por{
		position: relative;

		@media ($xxxl) {
			&:hover .nav__ul-in{
				display: block;

				position: absolute;
				top: 99%;
				left: 50%;
				right: 0;
				z-index: 1;

				width: 320px;
				border-radius: 4px;

				transform: translate(-50%, 0);

				background-color: #fff;
			}
			&:hover .nav__link--show-ul{
				color: #ff1e48;
				background-color: #fff;
				border-radius: 4px 4px 0 0;
			}

		}
	}
	&__ul-in{
		display: none;

		&.active{
			display: block;
		}
	}
	&__link,
	&__link-in{
		display: block;

		position: relative;

		padding: 10px;

		font-size: 16px;
		font-weight: 400;
		color: #000;

		transition: color .5s ease;


	}
	&__link{
		&.active{
			color: #ff1e48;
		}
		&--hover-underline{
			&:before{
				content: '';
				position: absolute;
				bottom: 0px;
				left: 10px;
				background-color: #ff1e48;
				height: 5px;
				border-radius: 3px;
				width: 0;
				transition: width .3s ease;
			}
			&:hover{
				color: #414141;

				&:before{
					width: calc(100% - 20px);
				}
			}
		}
		@media ($xxxl) {
			color: #fff;
		}
	}
	&__link--show-ul{
		&:hover{

		}
	}
	&__link-in{
		padding-left: 30px;

		font-size: 14px;

		&:hover{
			color: #ff1e48;
		}
	}




}