.privacy-policy{
	text-align: center;

	&__link{
		font-size: 12px;
		font-weight: 400;
		color: #fff;
		line-height: 1.5;

		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}

}