.scroll{
	display: none;

	position: absolute;

	bottom: 40px;
	left: 15px;
	z-index: 1;

	width: 54px;
	height: 80px;

	cursor: pointer;

	@media ($sm) {
		display: block;
	}
	&:hover{
		animation: up-down 1.4s ease;
	}
}

@keyframes up-down {
	0%{
		transform: translate(0, -10%);
	}
	15%{
		transform: translate(0, 10%);
	}
	30%{
		transform: translate(0, -5%);
	}
	45%{
		transform: translate(0, 5%);
	}
	60%{
		transform: translate(0, -2%);
	}
	75%{
		transform: translate(0, 2%);
	}
	90%{
		transform: translate(0, 0);
	}

}