.tel{
	&--white{
		margin-bottom: 10px;

	}
	&--black{
		display: none;
	}
	&--footer{
		text-align: center;

	}
	&__link{
		@media ($sm) {
			font-size: 24px;
		}
		@media ($xxxl) {
			font-size: 40px;
		}
	}
	&__link--white{
		position: relative;

		font-size: 18px;
		font-weight: 400;
		color: #fff;

		transition: color .5s ease;

		&:after{
			content: "";
			position: absolute;
			top: 2px;
			left: -30px;
			width: 22px;
			height: 22px;

			background: url("../img/tel/tel.svg") center/contain no-repeat;

			@media ($sm) {
				top: 7px;
			}
			@media ($xxxl) {
				top: 9px;
				left: -50px;
				width: 40px;
				height: 40px;
			}
		}
		&:hover{
			color: #414141;
		}


	}
	&__link--black{
		font-size: 18px;
		font-weight: 400;
		color: #000;
		line-height: 1;
	}

}