.tel{
	margin-bottom: 10px;

	&__link{
		position: relative;

		font-size: 18px;
		font-weight: 400;
		color: #fff;

		transition: color .5s ease;

		&:after{
			content: "";
			position: absolute;
			top: 2px;
			left: -30px;
			width: 22px;
			height: 22px;

			background: url("../img/tel/tel.svg") center/contain no-repeat;

			@media ($sm) {
				top: 7px;
			}
		}
		&:hover{
			color: #414141;
		}

		@media ($sm) {
			font-size: 24px;
		}
	}
}